<!-- Toolbar -->
<div class="toolbar" role="banner">
  
  <div class="logoblock">
    <img class="logo"
    alt="McDonald's Logo"
    src="assets/img/mcd.png"
    />
    <p>McDonald's</p>
  </div>
  <a href="/" title="Basket">
    <img class="bsklogo" src="assets/img/bsk.png"/>
  </a>

</div>

<div class="content" role="main">
    <mat-action-list>
        <mat-list-item *ngFor="let burger of burgers">
          <img matListAvatar src="{{'assets/img/' + burger.image}}" alt="{{burger.name}}">
          <h3 matLine> {{burger.name}} </h3>
          <p matLine>
              <br>
          </p>
          <p matLine>
            <span> {{burger.price + " \$"}} </span>
          </p>
          <button mat-icon-button (click)="addProduct()">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-icon-button (click)="removeProduct()">
            <mat-icon>remove</mat-icon>
          </button>
        </mat-list-item>
      </mat-action-list>
</div> 

<router-outlet></router-outlet>