<!-- Toolbar -->
<div class="toolbar" role="banner">  
  <div class="logoblock">
    <img class="logo"
      alt="McDonald's Logo"
      src="assets/img/mcd.png"
    />
    <p>McDonald's</p>
  </div>
  <div class="logoblock">
    <a routerLink="/menu" routerLinkActive="active" title="Menu">
      <p class="menu-link">Products</p>
    </a>
    <a routerLink="/cart" routerLinkActive="active" title="Basket">
      <img class="bsklogo" src="assets/img/bsk.png"/>
    </a>
  </div>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>    
</div> 
