.user-field {
    display: block;
}

.mat-radio-button {
    margin-left: 10px;
}

.submit-button {
    display: flex;
    justify-content: center;
}

.submit-button button {
    background-color:  #1f532f;
}